---
title: "Attribute and similar classifiers for face verification"
entry_type: paper
source: "https://neerajkumar.org/projects/facesearch/base/software/base/publications/base/papers/nk_iccv2009_attrs.pdf"
upstream_list: "TaoWangzj/Awesome-Face-Restoration"
---

# Attribute and similar classifiers for face verification

**Source**: [https://neerajkumar.org/projects/facesearch/base/software/base/publications/base/papers/nk_iccv2009_attrs.pdf](https://neerajkumar.org/projects/facesearch/base/software/base/publications/base/papers/nk_iccv2009_attrs.pdf)
