---
title: "DeepFace: Closing the gap to human-level performance in face verification"
entry_type: paper
source: "http://www.cv-foundation.org/openaccess/content_cvpr_2014/papers/Taigman_DeepFace_Closing_the_2014_CVPR_paper.pdf"
upstream_list: "terryum/awesome-deep-learning-papers"
category: "Image / Video / Etc"
year: "2014"
authors: "Y. Taigman et al."
---

# DeepFace: Closing the gap to human-level performance in face verification

**Source**: [http://www.cv-foundation.org/openaccess/content_cvpr_2014/papers/Taigman_DeepFace_Closing_the_2014_CVPR_paper.pdf](http://www.cv-foundation.org/openaccess/content_cvpr_2014/papers/Taigman_DeepFace_Closing_the_2014_CVPR_paper.pdf)

**Year**: 2014 | **Category**: Image / Video / Etc

**Authors**: Y. Taigman et al.
