---
title: "Physics-Driven Spectrum-Consistent Federated Learning for Palmprint Verification."
entry_type: paper
source: "https://link.springer.com/article/10.1007/s11263-024-02077-9"
upstream_list: "youngfish42/Awesome-FL"
category: "ijcv"
---

# Physics-Driven Spectrum-Consistent Federated Learning for Palmprint Verification.

**Source**: [https://link.springer.com/article/10.1007/s11263-024-02077-9](https://link.springer.com/article/10.1007/s11263-024-02077-9)

**Category**: ijcv
