---
title: "NormFace: L2 hypersphere embedding for face Verification"
entry_type: paper
source: "http://www.cs.jhu.edu/~alanlab/Pubs17/wang2017normface.pdf"
upstream_list: "becauseofAI/awesome-face"
---

# NormFace: L2 hypersphere embedding for face Verification

**Source**: [http://www.cs.jhu.edu/~alanlab/Pubs17/wang2017normface.pdf](http://www.cs.jhu.edu/~alanlab/Pubs17/wang2017normface.pdf)
