---
title: "Shuffle and Learn: Unsupervised Learning using Temporal Order Verification."
entry_type: paper
source: "http://arxiv.org/abs/1603.08561"
upstream_list: "jason718/awesome-self-supervised-learning"
category: "Computer Vision"
subcategory: "Video Representation Learning"
code_url: "https://github.com/imisra/shuffle-tuple"
---

# Shuffle and Learn: Unsupervised Learning using Temporal Order Verification.

**Source**: [http://arxiv.org/abs/1603.08561](http://arxiv.org/abs/1603.08561)

**Code**: [https://github.com/imisra/shuffle-tuple](https://github.com/imisra/shuffle-tuple)

**Category**: Computer Vision | **Subcategory**: Video Representation Learning
