---
title: "Automating Large-Scale Data Quality Verification"
entry_type: paper
source: "http://www.vldb.org/pvldb/vol11/p1781-schelter.pdf"
upstream_list: "SE-ML/awesome-seml"
category: "Data Management"
---

# Automating Large-Scale Data Quality Verification

**Source**: [http://www.vldb.org/pvldb/vol11/p1781-schelter.pdf](http://www.vldb.org/pvldb/vol11/p1781-schelter.pdf)

**Category**: Data Management
