---
title: "A Fast and Accurate System for Face Detection, Identification, and Verification"
entry_type: paper
source: "https://arxiv.org/pdf/1809.07586"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face Detection && Face Segmentation"
year: "2018"
authors: "Rajeev Ranjan, Ankan Bansal, Jingxiao Zheng, Hongyu Xu, Joshua Gleason, Boyu Lu, Anirudh Nanduri, Jun-Cheng Chen, Carlos D. Castillo, Rama Chellappa"
---

# A Fast and Accurate System for Face Detection, Identification, and Verification

**Source**: [https://arxiv.org/pdf/1809.07586](https://arxiv.org/pdf/1809.07586)

**Year**: 2018 | **Category**: Face Detection && Face Segmentation

**Authors**: Rajeev Ranjan, Ankan Bansal, Jingxiao Zheng, Hongyu Xu, Joshua Gleason, Boyu Lu, Anirudh Nanduri, Jun-Cheng Chen, Carlos D. Castillo, Rama Chellappa
