---
title: "A practical transfer learning algorithm for face verification"
entry_type: paper
source: "http://www.cv-foundation.org/openaccess/content_iccv_2013/papers/Cao_A_Practical_Transfer_2013_ICCV_paper.pdf"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2013"
authors: "Cao X, Wipf D, Wen F, et al"
---

# A practical transfer learning algorithm for face verification

**Source**: [http://www.cv-foundation.org/openaccess/content_iccv_2013/papers/Cao_A_Practical_Transfer_2013_ICCV_paper.pdf](http://www.cv-foundation.org/openaccess/content_iccv_2013/papers/Cao_A_Practical_Transfer_2013_ICCV_paper.pdf)

**Year**: 2013 | **Category**: Face recognition && Face Representations

**Authors**: Cao X, Wipf D, Wen F, et al
