---
title: "A Synthesis-Based Approach for Thermal-to-Visible Face Verification"
entry_type: paper
source: "https://arxiv.org/pdf/2108.09558"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2021"
authors: "Neehar Peri, Joshua Gleason, Carlos D. Castillo, Thirimachos Bourlai, Vishal M. Patel, Rama Chellappa"
---

# A Synthesis-Based Approach for Thermal-to-Visible Face Verification

**Source**: [https://arxiv.org/pdf/2108.09558](https://arxiv.org/pdf/2108.09558)

**Year**: 2021 | **Category**: Face recognition && Face Representations

**Authors**: Neehar Peri, Joshua Gleason, Carlos D. Castillo, Thirimachos Bourlai, Vishal M. Patel, Rama Chellappa
