---
title: "AggNet: Learning to Aggregate Faces for Group Membership Verification"
entry_type: paper
source: "https://arxiv.org/pdf/2206.08683"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2022"
authors: "Marzieh Gheisari, Javad Amirian, Teddy Furon, Laurent Amsaleg"
---

# AggNet: Learning to Aggregate Faces for Group Membership Verification

**Source**: [https://arxiv.org/pdf/2206.08683](https://arxiv.org/pdf/2206.08683)

**Year**: 2022 | **Category**: Face recognition && Face Representations

**Authors**: Marzieh Gheisari, Javad Amirian, Teddy Furon, Laurent Amsaleg
