---
title: "Combining Keystroke Dynamics and Face Recognition for User Verification"
entry_type: paper
source: "https://arxiv.org/pdf/1708.00931"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2017"
authors: "Abhinav Gupta, Agrim Khanna, Anmol Jagetia, Devansh Sharma, Sanchit Alekh, Vaibhav Choudhary"
---

# Combining Keystroke Dynamics and Face Recognition for User Verification

**Source**: [https://arxiv.org/pdf/1708.00931](https://arxiv.org/pdf/1708.00931)

**Year**: 2017 | **Category**: Face recognition && Face Representations

**Authors**: Abhinav Gupta, Agrim Khanna, Anmol Jagetia, Devansh Sharma, Sanchit Alekh, Vaibhav Choudhary
