---
title: "Cosine similarity metric learning for face verification"
entry_type: paper
source: "https://www.researchgate.net/profile/Li_Bai/publication/220745463_Cosine_Similarity_Metric_Learning_for_Face_Verification/links/54dcd4880cf25b09b912d2ed.pdf"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2010"
authors: "Nguyen H V, Bai L"
---

# Cosine similarity metric learning for face verification

**Source**: [https://www.researchgate.net/profile/Li_Bai/publication/220745463_Cosine_Similarity_Metric_Learning_for_Face_Verification/links/54dcd4880cf25b09b912d2ed.pdf](https://www.researchgate.net/profile/Li_Bai/publication/220745463_Cosine_Similarity_Metric_Learning_for_Face_Verification/links/54dcd4880cf25b09b912d2ed.pdf)

**Year**: 2010 | **Category**: Face recognition && Face Representations

**Authors**: Nguyen H V, Bai L
