---
title: "Deepface: Closing the gap to human-level performance in face verification"
entry_type: paper
source: "https://www.cv-foundation.org/openaccess/content_cvpr_2014/papers/Taigman_DeepFace_Closing_the_2014_CVPR_paper.pdf"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2014"
authors: "【verification】Taigman Y, Yang M, Ranzato M A, et al"
---

# Deepface: Closing the gap to human-level performance in face verification

**Source**: [https://www.cv-foundation.org/openaccess/content_cvpr_2014/papers/Taigman_DeepFace_Closing_the_2014_CVPR_paper.pdf](https://www.cv-foundation.org/openaccess/content_cvpr_2014/papers/Taigman_DeepFace_Closing_the_2014_CVPR_paper.pdf)

**Year**: 2014 | **Category**: Face recognition && Face Representations

**Authors**: 【verification】Taigman Y, Yang M, Ranzato M A, et al
