---
title: "Deep Learning Face Representation by Joint Identification-Verification"
entry_type: paper
source: "https://arxiv.org/pdf/1406.04773"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2014"
authors: "Yi Sun, Xiaogang Wang, Xiaoou Tang"
---

# Deep Learning Face Representation by Joint Identification-Verification

**Source**: [https://arxiv.org/pdf/1406.04773](https://arxiv.org/pdf/1406.04773)

**Year**: 2014 | **Category**: Face recognition && Face Representations

**Authors**: Yi Sun, Xiaogang Wang, Xiaoou Tang
