---
title: "DeMeshNet: Blind Face Inpainting for Deep MeshFace Verification"
entry_type: paper
source: "https://arxiv.org/pdf/1611.05271"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2016"
authors: "Shu Zhang, Ran He, Tieniu Tan"
---

# DeMeshNet: Blind Face Inpainting for Deep MeshFace Verification

**Source**: [https://arxiv.org/pdf/1611.05271](https://arxiv.org/pdf/1611.05271)

**Year**: 2016 | **Category**: Face recognition && Face Representations

**Authors**: Shu Zhang, Ran He, Tieniu Tan
