---
title: "ECML: An Ensemble Cascade Metric Learning Mechanism towards Face Verification"
entry_type: paper
source: "https://arxiv.org/pdf/2007.05720"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2020"
authors: "Fu Xiong, Yang Xiao, Zhiguo Cao, Yancheng Wang, Joey Tianyi Zhou, Jianxi Wu"
---

# ECML: An Ensemble Cascade Metric Learning Mechanism towards Face Verification

**Source**: [https://arxiv.org/pdf/2007.05720](https://arxiv.org/pdf/2007.05720)

**Year**: 2020 | **Category**: Face recognition && Face Representations

**Authors**: Fu Xiong, Yang Xiao, Zhiguo Cao, Yancheng Wang, Joey Tianyi Zhou, Jianxi Wu
