---
title: "Explainable Model-Agnostic Similarity and Confidence in Face Verification"
entry_type: paper
source: "https://arxiv.org/pdf/2211.13735"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2022"
authors: "Martin Knoche, Torben Teepe, Stefan Hörmann, Gerhard Rigoll"
---

# Explainable Model-Agnostic Similarity and Confidence in Face Verification

**Source**: [https://arxiv.org/pdf/2211.13735](https://arxiv.org/pdf/2211.13735)

**Year**: 2022 | **Category**: Face recognition && Face Representations

**Authors**: Martin Knoche, Torben Teepe, Stefan Hörmann, Gerhard Rigoll
