---
title: "Identity-Aware Deep Face Hallucination via Adversarial Face Verification"
entry_type: paper
source: "https://arxiv.org/pdf/1909.08130"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face Super-Resolution && Face Deblurring  && Face Hallucination"
authors: "Hadi Kazemi, Fariborz Taherkhani, Nasser M. Nasrabadi"
---

# Identity-Aware Deep Face Hallucination via Adversarial Face Verification

**Source**: [https://arxiv.org/pdf/1909.08130](https://arxiv.org/pdf/1909.08130)

**Category**: Face Super-Resolution && Face Deblurring  && Face Hallucination

**Authors**: Hadi Kazemi, Fariborz Taherkhani, Nasser M. Nasrabadi
