---
title: "L2-constrained softmax loss for discriminative face verification"
entry_type: paper
source: "https://arxiv.org/abs/1703.09507"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2017"
authors: "Ranjan R, Castillo C D, Chellappa R"
---

# L2-constrained softmax loss for discriminative face verification

**Source**: [https://arxiv.org/abs/1703.09507](https://arxiv.org/abs/1703.09507)

**Year**: 2017 | **Category**: Face recognition && Face Representations

**Authors**: Ranjan R, Castillo C D, Chellappa R
