---
title: "Multiple-Identity Image Attacks Against Face-based Identity Verification"
entry_type: paper
source: "https://arxiv.org/pdf/1906.08507"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face Anti-Spoofing && Face Attack && Face Privacy"
authors: "Jerone T. A. Andrews, Thomas Tanay, Lewis D. Griffin"
---

# Multiple-Identity Image Attacks Against Face-based Identity Verification

**Source**: [https://arxiv.org/pdf/1906.08507](https://arxiv.org/pdf/1906.08507)

**Category**: Face Anti-Spoofing && Face Attack && Face Privacy

**Authors**: Jerone T. A. Andrews, Thomas Tanay, Lewis D. Griffin
