---
title: "Normface: l 2 hypersphere embedding for face verification"
entry_type: paper
source: "https://arxiv.org/pdf/1704.06369.pdf"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2017"
authors: "【NormFace】Wang F, Xiang X, Cheng J, et al. [Normface: l 2 hypersphere embedding for face verification](https://arxiv.org/pdf/1704.06369.pdf)"
code_url: "https://github.com/happynear/NormFace"
---

# Normface: l 2 hypersphere embedding for face verification

**Source**: [https://arxiv.org/pdf/1704.06369.pdf](https://arxiv.org/pdf/1704.06369.pdf)

**Code**: [https://github.com/happynear/NormFace](https://github.com/happynear/NormFace)

**Year**: 2017 | **Category**: Face recognition && Face Representations

**Authors**: 【NormFace】Wang F, Xiang X, Cheng J, et al. [Normface: l 2 hypersphere embedding for face verification](https://arxiv.org/pdf/1704.06369.pdf)
