---
title: "On Biased Behavior of GANs for Face Verification"
entry_type: paper
source: "https://arxiv.org/pdf/2208.13061"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2022"
authors: "Sasikanth Kotti, Mayank Vatsa, Richa Singh"
---

# On Biased Behavior of GANs for Face Verification

**Source**: [https://arxiv.org/pdf/2208.13061](https://arxiv.org/pdf/2208.13061)

**Year**: 2022 | **Category**: Face recognition && Face Representations

**Authors**: Sasikanth Kotti, Mayank Vatsa, Richa Singh
