---
title: "Triplet Similarity Embedding for Face Verification"
entry_type: paper
source: "https://arxiv.org/pdf/1602.03418"
upstream_list: "ChanChiChoi/awesome-Face_Recognition"
category: "Face recognition && Face Representations"
year: "2016"
authors: "Swami Sankaranarayanan, Azadeh Alavi, Rama Chellappa"
---

# Triplet Similarity Embedding for Face Verification

**Source**: [https://arxiv.org/pdf/1602.03418](https://arxiv.org/pdf/1602.03418)

**Year**: 2016 | **Category**: Face recognition && Face Representations

**Authors**: Swami Sankaranarayanan, Azadeh Alavi, Rama Chellappa
