---
title: "Deep neural networks for small footprint text-dependent speaker verification"
entry_type: paper
source: "http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6854363"
upstream_list: "zzw922cn/awesome-speech-recognition-speech-synthesis-papers"
category: "Speaker Verification"
year: 2014
authors: "E Variani et al."
---

# Deep neural networks for small footprint text-dependent speaker verification

**Source**: [http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6854363](http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=6854363)

**Year**: 2014 | **Category**: Speaker Verification

**Authors**: E Variani et al.
